

@media screen and (min-width:320px) {
.baner {
    height: 400px;
    background: var(--baner-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/image/Header\ mobile\ \ x1\ 480x400.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


  
  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
  }

}   
 @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .baner {
    background-image: url(/image/Header\ mobile\ x2\ 480x400.jpg);
  }
}
}

@media screen and (min-width: 768px) {
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/image/Header tablet x1 768x400);

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .baner {
    background-image: url(/image/Header\ tablet\ x2\ 768x400.jpg);
  }
}
}


@media screen and (min-width: 1200px) {
.baner {
    height: 600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  &__title {
       font-size: 44px;
    
  
  }

}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .baner {
    background-image: url(/image/header\ desktop\ x2\ 1600x600.jpg);
  }
}

}







