.container{
  
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (min-width:320px) and (max-width 480px){
    .container{
        width: 100vw;
        padding: 0 15px;
    }
}
