.header{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-content: center;
    flex-wrap: nowrap;
  align-items: baseline;
  border-bottom: 1px solid var(--border-bottom);
  
  
}
 @media screen and (min-width: 768px) {
  .header {
    width: 100%;
   
  }
 }


 @media screen and (min-width: 1200px) {
  .header{
  width: 100%;
  }
  
}


 
  
@media screen and (max-width: 767px ){
  .mobile-menu__button {
 fill: var(--blue);
  width: 24px;
  height: 16px;
  padding-top: 0; 
  padding-left: 0;
  padding-right: 0;
 

}
}

@media screen and (min-width: 768px ){
.mobile-menu__button {
  display: none;}
}
