.header{
  width: 100%;
  display: flex;
  align-content: center;
    flex-wrap: nowrap;
  align-items: baseline;
  border-bottom: 1px solid var(--border-bottom);
  margin: 0 auto;
  justify-content: space-between;
  padding: 15px;
  
  
  
}

@media screen and (min-width: 480px){
  .header{
  max-width: 100%;
    margin: 0 auto;
  }
  }


@media screen and (min-width: 768px ){
 .header{
  max-width: 100%;
  justify-content: space-between;
 }
}

@media screen and (min-width: 1200px ){
 .header{
  max-width: 100%;
  
}

}
  

  .mobile-menu__button {
 fill: var(--black);
  width: 24px;
  height: 16px;
  padding-top: 0; 
  padding-left: 0;
  padding-right: 0;
  justify-content: end;
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
    &:hover svg {
       fill: var(--blue);
      cursor: pointer;
       }
  
 

}


@media screen and (min-width: 768px ){
.mobile-menu__button {
  display: none;}
}
