.logo {
  color: var(--blue);
  width: 145px;
  height: 31px;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
 

    &--footer {
    color: var(--white);
    
    }

    &--header {
    color: var(--black)
    }
}
.logo-footer{
display: flex;
  justify-content: center;
  width: 100%;

}
@media screen and (min-width: 480px ){
.logo-footer {
  display: flex;
  justify-content: center;
  width: 100%
  

    &--footer {
    color: var(--white);
    
    }

}
}
