
.mobile-menu{
   width: 100%;
   background: var(--white);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
      position: fixed;
    height: 100%;
    top:0;
    padding-top: 48px;
    margin-top: 0;


}

.mobile-menu-btn{
    width: 19px;
    height: 19px;
    right: 25px;
    cursor: pointer;
    padding: 0;
    
    margin-top: 10px;
    background-image: url(../image/close-black-18dp-2-1.svg);
    background-position: center;
    border: 0px solid rgba(0, 0, 0, 0.1);
   margin-left: 425px;
   position: absolute;
   transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-repeat: no-repeat;


       &:hover svg {
        fill: var(--blue);
        cursor: pointer;
         }
   
    
    
}

.mobile-menu-nav{
display: flex;
flex-direction: column;
gap: 32px;
list-style-type: none;
max-width: 219px;
margin-bottom: 300px;
padding-left: 0;
text-align: left;
position: relative;







    &__item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 40px;

       
    
}

        &__link{
        text-decoration: none;   
        text-decoration-color:none; 
        color: #212121;

         &:hover,
         &:focus {
        color: var(--blue);
        cursor: pointer;}
}


 

}
.mobile-menu-contact-list{
   display: flex;
    flex-direction: column;
    gap: 32px;
    list-style-type: none;
    max-width: 307px;
    margin-top: 302px;
    
    
    
    
    
    

        &__item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        
        

            &--phone{
                width: 267px;      
                font-size: 34px;
                line-height: 40px;
                color: #2196F3;
            }

            &--mail{
                font-size: 24px;
                line-height: 1,16;
                color: #757575;
                width: 231px;
    }
}
}
.menu-mobile-social{
display: flex;
flex-direction: row;
list-style-type: none;
gap: 20px;
text-decoration: none;
position: sticky;
bottom: 0;
margin-top: 64px;



        &__item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none;
       
        }
        

}





@media screen and (min-width: 768px ){
.mobile-menu{
    display: none;
}}










