.section-our-team {
  background-color: rgba(245, 244, 250, 1);
  width: 100%;
  padding-top: 60px;
}

@media screen and (min-width: 1200px){
.section-our-team {
  padding-top: 94px;
}
}

.our-team {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
    margin: 0 auto;
    }
@media screen and (min-width: 320px){
.our-team {
    flex-direction: column;
    max-width: 450px;
   
    }
  }

  @media screen and (min-width: 768px) {
.our-team {
    flex-direction: row;
    max-width: 768px;
    flex-basis: calc((100% - 30px) / 2);
    flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1200px){
  .our-team {
    max-width: 1170px;
  }
}

  .our-team-card {
    background: var(--white);
   box-shadow:  var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    align-content: center;
  
    &__team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    padding-top: 30px;
    }
    &__team-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8px;
    letter-spacing: 0.03em;
    color: var(--gray);
    }

}

@media screen and (min-width: 320px){
  .our-team-card {
    width: 100%;
   }
}
@media screen and (min-width: 768px) {
  .our-team-card {
    width: 354px;
   }
}

@media screen and (min-width: 1200px){
  .our-team-card {
    width: 270px;
    }
}