
@media screen and (max-width: 767px ){
.our-strengths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
    width: 450px;
    margin: 0 auto;

    @mixin ul {
      list-style-type: none;
      padding: 0;
    }
    
  @include ul;

    &__card {
      background: var(--light-grey);
      border-radius: 4px;
      margin-bottom: 30px;
    }

    &__icon {
      width: 70px;
      height: 70px;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-right: 190px;
      margin-left: 190px;
    }
  &__tittle {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
    }

  &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--gray);
    } 


 }
}



@media screen and (min-width: 768px) {
.our-strengths {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
    width: 738px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: calc((100% - 30px) / 2);
    

    @mixin ul {
      list-style-type: none;
      padding: 0;
    }
    
  @include ul;

    &__card {
      background: var(--light-grey);
      border-radius: 4px;
      margin-bottom: 30px;
      width: 354px;
      flex-basis: calc((100% - 30px) / 2);
    }

    &__icon {
      width: 70px;
      height: 70px;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-right: 142px;
      margin-left: 142px;
    }
  &__tittle {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

  &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--gray);
      width: 354px;
    } 


 }
}

@media screen and (min-width: 1200px){
.our-strengths {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;

    @mixin ul {
      list-style-type: none;
      padding: 0;
    }
    
  @include ul;

    &__card {
      background: var(--light-grey);
      border-radius: 4px;
      margin-bottom: 30px;
    }

    &__icon {
      width: 70px;
      height: 70px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 100px;
      margin-left: 100px;
    }
  &__tittle {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

  &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--gray);
    } 


 }
}