.our-client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    width: 100%;



  
    &__item {
    border: 1px solid var(--icon-border);
    border-radius: 4px;
    height: 92px;
    transition-property: border fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);

        &:hover {
        border: 1px solid var(--blue);
        cursor: pointer;
      }
      &:hover svg {
        fill: var(--blue);
        --color3: #2196f3;
      }
    }  
  &__icon {
    width: 106px;
    height: 60px;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 30px;
    align-items: center;
    fill: var(--contact-icon);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
  }


}


@media screen and (min-width: 480px){
.our-client {
     flex-wrap: wrap;
     width: 450px;
    

    &__item {
      width: 210px;
      
      }  
        &__icon {
    margin-right: 67px;
    margin-left: 52px;
        }
      }
}



@media screen and (min-width: 768px) {
.our-client {
    flex-wrap: wrap;
    max-width: 738px;
   
   &__item {
      width: 226px;
      }  
       &__icon {
    margin-right: 60px;
    margin-left: 60px;
        }
  }
}

@media screen and (min-width: 1200px){
.our-client {
    flex-wrap: nowrap;
   width: 1200px;

   &__item {
      width: 170px;
      }
     &__icon {
    margin-right: 32px;
    margin-left: 32px;
   
     }
}
}





