:root{
  --dark-grey:#212121;
  --body-background-color: 255, 255, 255, 1;
  --font-family: "Roboto", sans-serif;
  --blue:#2196f3;
  --light-grey:#f5f4fa;
  --white:#ffffff;
  --font-family2: "Raleway";
  --black:#000000;
  --gray:#757575;
  --baner-grey: #2f303a;
  --footer:rgba(47, 48, 58, 1);
  --icon-border:#afb1b8;
  --contact-icon:rgba(175, 177, 184, 1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --border-bottom: rgba(236, 236, 236, 1);
  --modal-blue:rgba(33, 150, 243, 1);
}